*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#141e30,#243b55);
}

.quiz-container{
background:white;
width:400px;
padding:30px;
border-radius:10px;
box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

h1{
text-align:center;
margin-bottom:20px;
}

h2{
margin-bottom:20px;
}

ul{
list-style:none;
}

ul li{
margin:10px 0;
font-size:16px;
}

button{
margin-top:20px;
width:100%;
padding:12px;
font-size:16px;
border:none;
background:#3498db;
color:white;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#2980b9;
}